
div.container {
    width: 100%;
    margin: 0 auto;
}
.column1 {
    display:block;
    width: 33.33333333333%;
    float:left;
    position: relative;
    text-align: center;
}

.column2{
    display: block;
    width: 33.33333333333%;
    float:left;
    position: relative;
    text-align: center;
}

.column3{
    display:block;
    width: 33.33333333333%;
    float:left;
    position: relative;
    text-align: center;
}

header, footer{
    width:100%;
    background-color: lightpink;
}
